body{
  background-color: black;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: hidden;


}


.div {
      background-color: rgba(240, 128, 128, 0.521);
      border: 5px solid grey;
      height: 300px;
      width: 500px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      border-radius: 51px;
      font-size: 10rem;
      font-weight: 700;
      transition: all 1000ms;
    }
